* {
    background-color: rgb(124, 124, 124);
 }
  
 h1 {
    text-align: center;
 }
  
 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  
 .button-element {
    font-size: 20px;
    border-width: 2px;
 }

.questions-container {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }

 #score-container {
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 #storage-container {
   display: none;
   justify-content: center;
   align-items: center;
 }
  
 footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }