* {
    background-color: rgb(212, 209, 209);
    color: rgb(114, 28, 207);
    font-size: 1.5rem;

 }
  
 h1 {
    text-align: center;
 }
  
 #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  
 .button-element {
    font-size: 20px;
    border-width: 2px;
 }

.questions-cont {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }

 #score-cont {
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 #storage-container {
   display: none;
   justify-content: center;
   align-items: center;
 }
  
 footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }